/* Tips Bubble Styles */
.tips_bubble, .tips_bubble > .tips_arrow { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.tips_bubble { position: absolute; text-align: center; z-index: 9999; }
.tips_style { cursor: help; }
.tips_content { font-size: 12px; }

/* Tips Bubble Div */
.tips_bubble > .tips_arrow { position: absolute; width: 0; height: 0; border: 8px solid; pointer-events: none; }
.tips_bubble.top > .tips_arrow { border-top-color: #000; border-right-color: transparent; border-left-color: transparent; border-bottom-color: transparent; top: 100%; left: 50%; margin-left: -8px; }
.tips_bubble.bottom > .tips_arrow { border-bottom-color: #000; border-right-color: transparent; border-left-color: transparent; border-top-color: transparent; bottom: 100%; left: 50%; margin-left: -8px; }
.tips_bubble.left > .tips_arrow { border-left-color: #000; border-top-color: transparent; border-bottom-color: transparent; border-right-color: transparent; top: 50%; left: 100%; margin-top: -8px; }
.tips_bubble.right > .tips_arrow { border-right-color: #000; border-top-color: transparent; border-bottom-color: transparent; border-left-color: transparent; top: 50%; right: 100%; margin-top: -8px; }